<?php
    $this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-datetimepicker.css" );
?>
<script src="/snep/includes/javascript/moment-with-locales.min.js" type="text/javascript" ></script>
<script src="/snep/includes/javascript/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<div class="row">
    <div class="tab-content">
            <div class="tab-pane active" id="demo">
                <?php if($this->key){ ?>
                    <div class="snep-body-top-buttons">
                        <div class="snep-body-search">
                            <?php if($this->key){ 
                                echo ""; 
                                ?>
                                <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>  
                            <?php } ?>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
    <form id="defaultForm" method="post" class="form-horizontal" style="margin-top: 0px;" action="<?php echo $this->url(array("controller" => "calls-report", "action" => "index"), null, true); ?>" METHOD="post">
        
        <fieldset>
            <legend><?php echo $this->translate("Period");?></legend>
            
            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("From");?></label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type='text' class="snep-datetimepicker form-control" id='initDay' name="initDay" required/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("To");?></label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type='text' class="snep-datetimepicker form-control" id='finalDay' name="finalDay" required/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        
                    </div>
                </div>
            </div>

        </fieldset>
    
        <fieldset>
            
            <legend><?php echo $this->translate("Source");?></legend>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Source Group");?></label>
                <div class="col-sm-4">
                    <select class="form-control" name="selectSrc" id="selectSrc" onChange="checksrc(this.value);">
                        <?php foreach($this->groups as $key => $group){ ?>
                            <option value='<?php echo $key?>'><?php echo $group?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Source Extensions");?></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="groupSrc" id="groupSrc" placeholder='<?php echo $this->translate("Separated by a comma")?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Option")?></label>
                <div class="col-sm-6">
                    <label class="radio-inline">
                        <input type="radio" name="order_src" id="equal" value="equal" checked ><?php echo $this->translate("Equal");?>
                    </label>
                    
                    <label class="radio-inline">
                        <input type="radio" name="order_src" id="contain" value="contain"><?php echo $this->translate("Contains");?>
                    </label>
                </div>
            </div>

        </fielset>

        <fieldset>
            
            <legend><?php echo $this->translate("Destination");?></legend>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Destination Group");?></label>
                <div class="col-sm-4">
                    <select class="form-control" name="selectDst" id="selectDst" onChange="checkdst(this.value);">
                        <?php foreach($this->groups as $key => $group){ ?>
                            <option value='<?php echo $key?>'><?php echo $group?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Destination Extensions");?></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="groupDst" id="groupDst" placeholder='<?php echo $this->translate("Separated by a comma")?>' />
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label"><?php echo $this->translate("Option")?></label>
                <div class="col-sm-6">
                    <label class="radio-inline">
                        <input type="radio" name="order_dst" id="equal" value="equal" checked><?php echo $this->translate("Equal");?>
                    </label>
                    
                    <label class="radio-inline">
                        <input type="radio" name="order_dst" id="contain" value="contain"><?php echo $this->translate("Contains");?>
                    </label>
                </div>
            </div>


        </fielset>

        <fieldset>
            
            <legend><?php echo $this->translate("Additional filters");?></legend>

            
             <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Status")?></label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="ANSWERED" id="ANSWERED" checked/><?php echo $this->translate("Answered")?>
                        </label>
                        <label>
                            <input type="checkbox" name="NOANSWER" id="NOANSWER" checked/><?php echo $this->translate("Not Answered")?>
                        </label>
                        <label>
                            <input type="checkbox" name="BUSY" id="BUSY" checked/><?php echo $this->translate("Busy")?>
                        </label>
                        <label>
                            <input type="checkbox" name="FAILED" id="FAILED" checked/><?php echo $this->translate("Failed")?>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Cost Center");?></label>
                <div class="col-sm-4">
                    <select multiple class="form-control" name="costs_center[]" id="costs_center[]">
                        <?php foreach($this->costs as $key => $cost){?>
                        <option value='<?php echo $cost['codigo']?>'><?php echo $cost['tipo'].': ' .$cost['codigo'].' - '.$cost['nome'];?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

           

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Minimum Call Time");?></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="duration_init" id="duration_init" placeholder='<?php echo $this->translate("In seconds")?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Maximum Call Time");?></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="duration_end" placeholder='<?php echo $this->translate("In seconds")?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Caller location")?></label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="locale" id="locale" />
                            <?php echo $this->translate("Enabled")?>
                            &nbsp;&nbsp;&nbsp;
                            <small>
                                <span style="color: red"><?php echo "( ". $this->translate("If enabled the query will be slower")." )"; ?></span>
                            </small>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Caller record")?></label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="record" id="record" />
                            <?php echo $this->translate("Enabled")?>
                            &nbsp;&nbsp;&nbsp;
                            <small>
                                <span style="color: red"><?php echo "( ". $this->translate("If enabled the query will be slower")." )"; ?></span>
                            </small>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">        
                <label class="col-sm-3 control-label"><?php echo $this->translate("Report Type")?></label>
                <div class="col-sm-6">
                    <label class="radio-inline">
                        <input type="radio" name="report_type" id="analytic" value="analytic" checked><?php echo $this->translate("Analytic");?>
                    </label>
                    
                    <label class="radio-inline">
                        <input type="radio" name="report_type" id="synthetic" value="synthetic"><?php echo $this->translate("Synthetic");?>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Preview")?></label>
                <div class="col-sm-6">
                    <label class="radio-inline">
                        <input type="radio" name="preview" id="screen" value="screen" checked><?php echo $this->translate("Screen");?>
                    </label>
                    
                    <label class="radio-inline">
                        <input type="radio" name="preview" id="graphic" value="graphic"><?php echo $this->translate("Graphic");?>
                    </label>
                </div>

            </div>

        </fieldset>
        <div class="snep-body-footer-buttons">
           <button type="submit" class="btn btn-add" name="showreport" value="showreport"><?php echo $this->translate("Show Report");?></button>
        </div> 
        <br />
    </form>
</div> <!-- /.row -->

<script type="text/javascript">

jQuery.noConflict();
jQuery(function () {
    
    jQuery('#initDay,#finalDay').datetimepicker({
        locale: "<?php echo $this->datepicker_locale; ?>",
        sideBySide: true,
        showClear: true,
        showClose: true
    });

    jQuery("#initDay").on("dp.change",function (e) {
        jQuery('#finalDay').data("DateTimePicker").minDate(e.date);
    });

    jQuery("#finalDay").on("dp.change",function (e) {
        jQuery('#initDay').data("DateTimePicker").maxDate(e.date);
    });
});

function checksrc(value){
    
    if(value != 0){   
        document.getElementById("groupSrc").setAttribute("disabled", true);
    }else{
        document.getElementById("groupSrc").removeAttribute("disabled");
    }
}

function checkdst(value){
    
    if(value != 0){   
        document.getElementById("groupDst").setAttribute("disabled", true);
    }else{
        document.getElementById("groupDst").removeAttribute("disabled");
    }
}
</script>


